.card-img-top {
    height: 238.44px;
    width: auto;
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.card-img-top2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;
    
}

